extends layout

block content
  .text-center    
    img.mb-3(src='img/geek.png', alt='', width='72', height='72')
    h3.mb-1.font-weight-normal(style="font-family: 'Alfa Slab One', cursive;;font-size: 3rem;") GPP Trivia
    p.p-3 GPP quiz competition consists of questions related to the GPP behavior, functionality and usage. Once the game starts, the host of that game will appear on your screen with a question. The question - along with the two potential answers - will pop up on your screen. You have to select an answer, and if you get it right, you'll move on to the next question. If you happen to answer all the questions correctly, you will win money. If not, you will lose, and then you can then exit out of the app for the day.
    p.mt-5.mb-3.text-muted © 2018
