doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Yoda Business Guide
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ", crossorigin="anonymous")     
    link(href="https://fonts.googleapis.com/css?family=Alfa+Slab+One", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src="/javascripts/jquery-3.2.1.min.js") 
    script(src="/javascripts/popper.min.js")
    script(src="/javascripts/bootstrap.min.js")       
    script(src="/javascripts/app.js")
  body    
    iframe#yodachat.p-1(allow='microphone;', width="100%", height="500px", style="background-color: #C137A2;", src='https://console.dialogflow.com/api-client/demo/embedded/4cc2ba0e-7020-4060-88ab-50ab871455f5')
