extends layout

block content
  div(style="height:100%;")
    iframe.embed-responsive(allow='microphone;', src='https://console.dialogflow.com/api-client/demo/embedded/4379ba3a-05bd-40e4-8e1c-0fd9adbe6c57')
