.bg-image {
    background-image: url(/img/finastra_ribbon.png);
    background-size: contain;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding-bottom: 8rem;
  }

